<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistDetailServlet</servlet-name>
        <servlet-class>controller.ArtistDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterArtistController</servlet-name>
        <servlet-class>controller.RegisterArtistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentDAO</servlet-name>
        <servlet-class>dal.PaymentDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAvatarServlet</servlet-name>
        <servlet-class>controller.UploadAvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalPageServlet</servlet-name>
        <servlet-class>controller.PersonalPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateArtistBioServlet</servlet-name>
        <servlet-class>controller.UpdateArtistBioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPerformanceServlet</servlet-name>
        <servlet-class>controller.AddPerformanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyEventsServlet</servlet-name>
        <servlet-class>controller.MyEventsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventsServlet</servlet-name>
        <servlet-class>controller.EventsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventDetail</servlet-name>
        <servlet-class>controller.EventDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistDetailServlet</servlet-name>
        <url-pattern>/artistDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterArtistController</servlet-name>
        <url-pattern>/registerArtist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentDAO</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAvatarServlet</servlet-name>
        <url-pattern>/uploadAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalPageServlet</servlet-name>
        <url-pattern>/personalPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateArtistBioServlet</servlet-name>
        <url-pattern>/updateArtistBio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPerformanceServlet</servlet-name>
        <url-pattern>/addPerformance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyEventsServlet</servlet-name>
        <url-pattern>/MyEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventsServlet</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventDetail</servlet-name>
        <url-pattern>/eventDetail</url-pattern>
    </servlet-mapping>
</web-app>
